body{
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container div {
  border: 1px solid red;
}

.sidebar {
  grid-column: 1/2;
  background-color: #1992d4;
  color: white;
  /* height: 99vh; */
}

.sidebarHeader {
  display: flex;
  gap: 10px;
}
.sidebarHeader img {
  filter: invert(100%);
  width: 3.5em;
  padding-left: 2vw;
}

.sidebarHeader h2 {
  align-self: center;
  margin-left: 0.5vw;
}

.personal ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  font-size: 18px;
}

.personal span{
  margin-left: 1vw;
}

.navIcons{
  width: 1.5em;
  filter: invert(100%);
  margin-left: 1vw;
}

.settings ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  font-size: 18px;
}

.settings span{
  margin-left: 1vw;
}
.contentPage {
  grid-column: 2/3;
}

.header{
  margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar{
  display: flex;
  padding-left: 0.5vw;
}

.search-bar img{
  width: 1.5em;
}
.search-bar input{
  background-color: #e2e8f0;
  border-radius: 20px;
  color: #000000;
  border: 1px solid #cccccc;
  margin-left: 20px;
  width: 500px;
}

.profileIcon{
  display: flex;
  justify-content: space-between;
}

.profileIcon img{
  width: 1.5em;
}

.profileIcon span{
  align-self: center;
  font-weight: 500;
  margin-right: 10vw;
}

.userProfile{
  margin-left: 50px;
  padding: 10px 0px;
}
.userName {
  font-weight: 600;
  font-size: 20px;
}

.nav{
  display: flex;
  justify-content: space-evenly;
}

.nav button{
  background-color: #1992d4;
  color: white;
  border-radius: 100px;
  padding: 0px 30px;
  margin: 10px 20px;
  font-size: 15px;
  font-weight: 450;
  border: 1px solid #cccccc;
}

.content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* height: 85vh; */
}

.projects{
  grid-column: 1/2;
  grid-row: 1/3;
}

.announcements {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow: hidden;
}
.outerBox{
  background-color: white;
  border-radius: 12px;
  padding: 24px;
}

.innerBox{
  display: flex;
  flex-direction: column;
}

.categoryDiv{
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
}
.categoryDiv:last-child{
  border-bottom: none;
}

.headline{
  font-weight: 700;
  font-size: 0.95rem;
  display: block;
  margin-bottom: 4px;
}
.categoryContent{
  color: #666;
  font-size: 0.85rem;
  line-height: 1.4;
}

.trending{
  grid-column: 2/3;
  grid-row: 2/3;
}

.category{
  font-weight: 500;
  display: block;
  margin: 15px 0;
}

.trendingDiv{
  padding: 12px 0;
}

.profileName{
  display: block;
  font-size: 0.95rem;
  margin-bottom: 4px;
}